.card.done {
  cursor: default;
  box-shadow: none;
}

.card:hover{
  box-sizing: border-box;
  background-image: url("Images/SLogo.png"); 
  opacity: 1;
}

.red {

  background-image: url("Images/red1.png"); 
}

.red.done:hover {
  background-image: url("Images/red1.png"); 
}

.green {
  background-image: url("Images/green1.png"); 
}

.green.done:hover {
  background-image: url("Images/green1.png"); 
}

.blue {
  background-image: url("Images/blue1.png"); 
}
.blue.done:hover {
  background-image: url("Images/blue1.png"); 
}

.yellow {
  background-image: url("Images/yellow1.png");
}

.yellow.done:hover {
  background-image: url("Images/yellow1.png");
}

.orange {
  background-image: url("Images/orange1.png");
}

.orange.done:hover {
  background-image: url("Images/orange1.png"); 
}

.purple {
  background-image: url("Images/purple1.png");
}

.purple.done:hover {
  background-image: url("Images/purple1.png");
}

.grey {
  background-image: url("Images/grey1.png");
}

.grey.done:hover {
  background-image: url("Images/grey1.png");
}

.black {
  background-image: url("Images/black1.png");
}

.black.done:hover {
  background-image: url("Images/black1.png");
}

.card-back {
  background-image: url("Images/SlackLogo.png");
}